.section-contact {
  padding: 9.6rem 0;
  border-bottom: 1px solid #e2e2e2;
}

.form-contact *:focus {
  outline: none;
  border: 1px solid #555;
}

.form-contact {
  border: 1px solid #222;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border-radius: 9px;
  padding: 6.4rem 6.4rem 0 6.4rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  grid-auto-rows: minmax(100px, auto);
}

.input-container:nth-child(3) {
  grid-column: 1 / span 2;
}
.input-container:nth-child(4) {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  justify-items: center;
}

label {
  color: #555;
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.form-contact input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: #b4f9e4;
  border-radius: 9px;
  box-shadow: rgba(99, 99, 99, 0.7) 0px 2px 8px 0px;
  color: #555;
  border: 1px solid transparent;
}

.submit-btn {
  color: #fff;
  padding: 1.2rem 2.8rem;
  border-radius: 9px;
  background-color: #44efbc;
  color: #222;
  border: 1px solid #222;
  box-shadow: 0 3px 6px -1px gray;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #fff;
    background-color: #3dd7a9;
  }
}

@media (max-width: 34em) {
  .form-contact {
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
    align-items: center;
    justify-content: center;
  }

  .form-contact .input-container {
    width: 70%;
  }
}


/* 
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: inherit;
}

.cta-form input::placeholder {
  color: #999;
}
*/
