.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
  background-color: #ecfdf8;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

.logo-h1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  text-decoration: none;
  color: #222;
}

.heading-primary {
  font-size: 3.2rem;
  font-weight: 400;
}

.heading-primary span {
  color: #44efbc;
}

.logo {
  height: 7.6rem;
  border-radius: 50%;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
  justify-content: center;
}

.main-nav-link {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: #222;
  font-size: 1.8rem;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
}

.nav-cta {
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #44efbc;
  color: #222;
  border: 1px solid #222;
  box-shadow: 0 3px 6px -1px gray;
}

.main-nav-link:hover {
  color: #44efbc;
}

.nav-cta:hover,
.nav-cta:active {
  color: #fff;
  background-color: #3dd7a9;
}

.active-btn {
  color: #44efbc;
}

.nav-cta {
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #44efbc;
  color: #222;
  border: 1px solid #222;
  box-shadow: 0 3px 6px -1px gray;
}

.active-btn-cta {
  color: #fff;
  background-color: #3dd7a9;
}

/* *************** */
/*mobile */
/* *************** */

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.btn-mobile-nav {
  border: none;
  background: none;
  display: none;
  cursor: pointer;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
@media (max-width: 75em) {
  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }
}

@media (max-width: 59em) {
  /* mobile nav */

  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px); /* this filter blur the content in background*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* hiding the navigation */
    /* if we give display:none ;, then no transition can be done */

    /* 1) hiding the element visually */
    opacity: 0;

    /* 2) Make it unnaccessible to mouse and keyboard  */
    pointer-events: none;

    /* 3) also hiding fromscreen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    position: fixed;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}
