Footer {
  padding: 15.8rem 0 3.2rem 0;
}

.footer-container {
  max-width: 100vw;
}

.footer-quote-div {
  text-align: center;
  background-color: #fff;
}

.Footer-quote {
  font-family: "Pompiere";
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  color: #071813;
  display: inline-block;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  background-color: #ecfdf8;
  padding: 3.2rem;
  margin-top: 4rem;
}
.footer-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-img {
  width: 25%;
}

.footer-content-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: start;
  justify-content: center;
  padding: 3.2rem 0;
}
.footer-content-box h3 {
  font-size: 3.2rem;
  font-weight: 400;
  color: #222;
}

.footer-content-list {
  list-style: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2.4rem;
}
.footer-content-list li {
  transition: all 0.3s;
}
.footer-content-list li a:link,
.footer-content-list li a:visited {
  text-decoration: none;
  color: inherit;
}

.footer-content-list li:hover {
  color: #44efbc;
  cursor: pointer;
}

.footer-last-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 3.2rem;
  font-size: 1.2rem;
}

.copyright-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.copy-img {
  height: 9.6rem;
}

.social-link-box {
  display: flex;
  gap: 2rem;
}

.social-link-box a {
  display: inline-block;
}

.social-link-box a:first-child {
  display: inline-block;
  margin-left: 30px;
}

@media (max-width: 59em) {
  .social-link-box img {
    width: 90%;
  }

  .copy-img {
    width: 30%;
  }
}

@media (max-width: 752px) {
  .social-link-box img {
    width: 40%;
  }

  .copy-img {
    width: 30%;
  }
  .footer-img {
    width: 40%;
  }
  .copyright-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
    align-items: center;
  }
  .footer-last-box {
    gap: 5rem;
  }
}

@media (max-width: 34em) {
  .copyright-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
    align-items: center;
  }
  .footer-last-box {
    gap: 5rem;
  }
}

@media (max-width: 456px) {
  .footer-last-box {
    font-size: 0.9rem;
  }
  .footer-last-box img {
    width: 40%;
  }
}

@media (max-width: 429px) {
  .footer-last-box {
    font-size: 0.8rem;
  }
  .footer-last-box img {
    width: 50%;
  }
}

@media (max-width: 412px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-last-box img {
    width: 60%;
  }
  .footer-img {
    width: 60%;
  }
  .copy-img {
    width: 40%;
  }
  .copyright-container {
    gap: 1rem;
  }
}

@media (max-width: 359px) {
  .footer-grid {
    grid-template-columns: 0.8fr 1fr 1fr;
  }
  .footer-img {
    width: 60%;
  }
  .copy-img {
    width: 10%;
  }
  .footer-last-box {
    /* font-size: 0.5rem; */
  }
  .copyright-container {
    gap: 1rem;
  }
}

@media (max-width: 337px) {
  .footer-grid {
    grid-template-columns: 1fr 2fr 2fr;
  }
  .footer-heading {
    font-size: 2.3rem !important;
  }
  .footer-text {
    font-size: 1.6rem;
  }
  /* .footer-last-box {
    font-size: 0.5rem;
  } */
  .copyright-container {
    gap: 1rem;
  }
  .footer-last-box {
    gap: 1rem;
  }
  .footer-last-box img {
    width: 30%;
  }
  .social-link-box img {
    width: 60%;
  }
}
